body{
    background: linear-gradient(to bottom right, #ffafbd, #ffc3a0);
    background-repeat: no-repeat;
    height: 100vh; /* Set the height of the body to fill the viewport */
    margin: 0; /* Remove default margin */
    display: flex; /* Optional: Flexbox to center content vertically */
    justify-content: center; /* Optional: Flexbox to center content vertically */
    align-items: center; 
}